<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/> 
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
    <arg name="graph_name" default="frozen_graph.pb"/>
    <arg name="backsteps" default="1"/>

    <param name="~graph_path" value="$(find cnn_lane_following)/src/graphs/unit_blocks/$(arg graph_name)" type="string" />
    <param name="~backsteps" value="$(arg backsteps)" type="int" />


    <include file="$(find duckietown)/machines"/>

    <group ns="$(arg veh)">

        <!-- run local -->
        <remap from="cnn_node/car_cmd" to="inverse_kinematics_node/car_cmd"/>
        <remap from="cnn_node/compressed" to="camera_node/image/compressed"/>
        <node if="$(arg local)" pkg="cnn_lane_following" type="cnn_lane_following_node_laptop.py" name="cnn_node"
              output="screen" clear_params="true" required="true">
        </node>

        <!-- run remote -->
        <node unless="$(arg local)" machine="$(arg veh)" pkg="cnn_lane_following" type="cnn_lane_following_node.py"
              name="cnn_node" output="screen" clear_params="true" required="true">
        </node>
    </group>
</launch>
